<div class="title-group">
  <h1 class="mat-h1">Add Student</h1>
  <mat-divider fxFlex="1 0"></mat-divider>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="fit" style="height: 500px;" gutterSize="10px">
    <mat-grid-tile>
      <mat-card>
          <input type="hidden" formControlName="$key" placeholder="$key" >
        <mat-form-field [hidden]="true">
          <input matInput formControlName="idEstudiante" placeholder="Id Estudiante" [(ngModel)]="person.idEstudiante">
          <mat-error>
            El campo<strong>id estudiante</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="cedula" (keyup)="onKey($event)" [(ngModel)]="cedulaBuscar.cedula"
            placeholder="Cedula">
          <mat-error>
            El campo<strong>cedula</strong> es <strong>necesario</strong>
          </mat-error>
        </mat-form-field>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center">
              Nombre
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.nombre}}</h2>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center">
              Apellido
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.apellido}}</h2>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center">
              Direccion
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.direccion}}</h2>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center color-white">
              Genero
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.genero}}</h2>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center ">
              Fecha Nacimiento
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.fechaN}}</h2>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center color-white">
              Fecha de nacimeinto Exacta
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.fechaNaciExtacta}}</h2>
            </div>
          </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
          <div class="caja">
            <div class="hijo text-center color-white">
              Estado
            </div>
            <div class="hijo2 text-center">
              <h2>{{person.estado}}</h2>
            </div>
          </div>
        </div>
        <button #onOffButton class="btn btn-primary" [routerLink]="['estudianteList']">Add</button>
        <br><br><br><br><br><br>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 2---------------------------------->
  <!--------------------------------------------------------------------->
  <br>
  <div class="title-group">
    <h1 class="mat-h1">group 2</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-form-field>
    <input matInput formControlName="grupoSanguineo" placeholder="Grupo Sanguineo">
    <mat-error>
      El campo<strong>Grupo Sanguineo</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="antecedentes" placeholder="Antecedentes">
    <mat-error>
      El campo<strong>Antecedentes</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="motivoConsulta"  placeholder="Motivo Consulta">
    <mat-error>
      El campo<strong>Motivo Consulta</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="enfermedadActual"  placeholder="Enfermedad Actual">
    <mat-error>
      El campo<strong>Enfermedad Actual</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 3---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">Signos Vitales</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-form-field>
    <input matInput formControlName="presion"  placeholder="Presion">
    <mat-error>
      El campo<strong>Presion</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="temperatura"  placeholder="Temperatura">
    <mat-error>
      El campo<strong>Temperatura</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="saturacionOxigeno"  placeholder="Saturacion De oxigeno">
    <mat-error>
      El campo<strong>Saturacion De oxigeno</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput  formControlName="peso" placeholder="peso">
    <mat-error>
      El campo<strong>Peso</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput  formControlName="talla" placeholder="Talla">
    <mat-error>
      El campo<strong>talla</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <!--------------------------------------------------------------------->
  <!----------------------------grupo 4---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">Examen Fisico</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-label>
    <h6>Ubicacion de Daño</h6>
  </mat-label>
  <br>
  <mat-radio-group aria-label="Select an option" formControlName="examenFisico" >
    <mat-radio-button value="cabeza">Cabeza</mat-radio-button>
    <mat-radio-button value="tronco">Tronco</mat-radio-button>
    <mat-radio-button value="extremidades">Extremidades</mat-radio-button>
  </mat-radio-group>
  <!--------------------------------------------------------------------->
  <!----------------------------Cie 10---------------------------------->
  <!--------------------------------------------------------------------->
  <div class="title-group">
    <h1 class="mat-h1">Cie 10</h1>
    <mat-divider fxFlex="10"></mat-divider>
  </div>
  <mat-form-field [hidden]="true">
    <input matInput formControlName="idCie10"  [(ngModel)]="cie10.idCie10"  placeholder="idCie10">
    <mat-error>
      El campo<strong>Cie</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput  formControlName="codigo" (keyup)="onKey1($event)" [(ngModel)]="cie10Buscar.cie10"  placeholder="Codigo">
    <mat-error>
      El campo<strong>Codigo</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field >
    <input matInput formControlName="descripcion"  [(ngModel)]="cie10.descripcion" placeholder="Descripcion" >
    <mat-error>
      El campo<strong>descripcion</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <button #onOffButtonCie10 class="btn btn-primary" [routerLink]="['cie10List']">Add Cie10</button>
  <br>
  <br>
  <br>
  <mat-form-field>
    <mat-label>Tratamineto</mat-label>
    <textarea matInput formControlName="tratamiento" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5">
      </textarea>
    <mat-error>
      El campo<strong>Tratamineto</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Seguimiento</mat-label>
    <textarea matInput formControlName="seguimiento" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5">
        </textarea>
    <mat-error>
      El campo<strong>Seguimiento</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Observaciones</mat-label>
    <textarea matInput formControlName="observaciones" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
      cdkAutosizeMaxRows="5">
          </textarea>
    <mat-error>
      El campo<strong>Observaciones</strong> es <strong>necesario</strong>
    </mat-error>
  </mat-form-field>
  <mat-label><h2>Estado</h2></mat-label>
  <br>
  <mat-radio-group formControlName="estado" placeholder="Estado">
    <mat-radio-button value="1">Activo</mat-radio-button>
    <mat-radio-button value="0">Inactivo</mat-radio-button>
</mat-radio-group>
  <div class="row p-5">
    <button class="border-left-5" mat-fab color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    <button class="border-5" mat-fab color="warn">Clear</button>
  </div>
</form>